.wf-main-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    background: var(--neutral-white);
}
.wf-body-popup {
    padding: var(--d_20);
    width: var(--d_full);
}
.wrap-input {
    --width-input: 335px;
    --height-input: var(--d_40);
}
.wf-bt-w-69 {
    width: 69px;
}