list ---
.wf-frame-table-news-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wf-frame-table-news-filter-container {
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.table-news-filter-button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.wf-tn-list-body-filter {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid var(--neutral-color-ncc);
  flex: 1;
}

.wf-tn-list-body-filter-row {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--neutral-color-ncc);
}

.wf-tn-list-body-filter-row-last {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.wf-tn-list-body-filter-row-width-66 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: 66.67%;
}

.tn-title-filter-row-top-container {
  display: flex;
  padding: 14px 15px;
  align-items: center;
  align-self: stretch;
  width: 150px;
  background: var(--sub-color-bg-gray);
  border-top-left-radius: 6px;
  border-right: 1px solid var(--neutral-color-ncc);
}

.tn-title-filter-row-bottom-container {
  display: flex;
  padding: 14px 15px;
  align-items: center;
  align-self: stretch;
  width: 150px;
  background: var(--sub-color-bg-gray);
  border-bottom-left-radius: 6px;
  border-right: 1px solid var(--neutral-color-ncc);
}

.tn-title-filter-row-container {
  display: flex;
  padding: 14px 15px;
  align-items: center;
  align-self: stretch;
  width: 150px;
  background: var(--sub-color-bg-gray);
  border-right: 1px solid var(--neutral-color-ncc);
}

.tn-title-filter-row-center-container {
  display: flex;
  padding: 0px 15px;
  align-items: center;
  align-self: stretch;
  width: 150px;
  background: var(--sub-color-bg-gray);
  border-right: 1px solid var(--neutral-color-ncc);
  border-left: 1px solid var(--neutral-color-ncc);
}

.tn-filter-row-field-container {
  align-self: stretch;
  padding: 0px 15px;
  flex: 1;
}

.wf-tn-176 {
  display: flex;
  width: 176px;
  align-items: flex-start;
  gap: 4px;
}

.wf-tn-list-body-table {
  padding: 30px;
  border-top: 1px solid var(--neutral-color-ncc);
  gap: 16px;
}

.wf_w-55 {
  width: 55px !important;
}

.wf_tn-flex-1 {
  flex: 1;
}

.tn-nm-detail-info-widget {
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.tn-nm-detail-info-widget-2 {
  margin-top: 20px;
}

.tn-input-box-no-border,
.tn-input-box-no-border input {
  width: 100% !important;
  border: none !important;
  padding: 0px !important;
}

.tn-input-box-no-border input:focus {
  border: none !important;
  outline: none !important;
}

.wf-tn_red-text {
  color: red;
}

.wf-tn-input-update-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wf-tn-input-update-container p {
  justify-content: end;
  display: flex;
  margin-right: 12px;
}

.wf_bb-forbidden-word_p {
  width: 800px;
}

.wf-btn-border-3b--ncc {
  border-bottom: 3px solid var(--neutral-color-ncc) !important;
}

.wf_bb-gap_20 {
  gap: 20px
}