.member-request-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    background: var(--neutral-white);
  }
  
  :deep(.p-datatable-table tr td) {
    height: var(--d_42);
  }
  
  :deep(.wf-member-request-modal-table .p-datatable-table tr:nth-child(2) th:last-child) {
    border-right: 1px solid var(--neutral-color-ncc);
  }
  
  :deep(.wf-member-request-modal-table .p-datatable-thead tr:first-child th:first-child),
  :deep(.wf-member-request-modal-table .p-datatable-thead tr:first-child th:nth-child(2)) {
    border-bottom: 1px solid var(--neutral-color-ncc);
  }
  
  :deep(.p-datatable-table .wf-company-address) {
    min-width: 120px !important;
  }
  