@import url('@/assets/css/view/member/member-list.css');

.wf-w-1-4 {
  width: 25% !important;
}

.wf-w-1-2 {
  width: 50% !important;
}

.wf_br-b {
  border-bottom: 1px solid var(--neutral-color-ncc);
}

:deep(.wf_filter-body) {
  /** padding: 0 12px; */
  padding: 0 13px 0 11px;
}

:deep(.wf-approval-group-btn) {
  margin-left: 7px;
}

.wf-form-filter > *:not(:last-child) {
  margin-bottom: 12px;
}

.table-filter-br-0 {
  border-bottom-width: 0;
}

:deep(.p-datatable-table tr:nth-child(1) th:nth-child(2)) {
  border-bottom: 2px solid var(--neutral-color-primary-0);
}

.wf-height-input-40 {
  --height-input: 40px;
}

:deep(.p-datatable-table tr:nth-child(1) th:last-child) {
  min-width: 100px !important;
}

:deep(.p-datatable-table tr td:last-child) {
  min-width: 94px !important;
}

:deep(.wf_filter-title) {
  padding-right: var(--d_2) !important;
}

