.wf-mall :deep(.p-datatable-table tr th),
.wf-mall :deep(.p-datatable-table tr td) {
  /* 62px = 30px*2 (padding-horizontal) + 1px*2 (border-horizontal) */
  min-width: calc(calc(100vw - 62px - var(--width_sidebar) - var(--width_navigation)) / 3) !important;
  transition: 0.4s;
}

#wf-content.wf-navigation .wf-mall :deep(.p-datatable-table tr th),
#wf-content.wf-navigation .wf-mall :deep(.p-datatable-table tr td) {
  min-width: calc(calc(100vw - 62px - var(--width_sidebar)) / 3) !important;
  transition: 0.4s;
}

:deep(.p-datatable-table tbody) {
  overflow-x: hidden;
}

.wf-mall-in-mall :deep(.p-datatable-table tr th),
.wf-mall-in-mall :deep(.p-datatable-table tr td) {
  /* 62px = 30px*2 (padding-horizontal) + 1px*2 (border-horizontal) */
  min-width: calc(calc(100vw - 62px - var(--width_sidebar) - var(--width_navigation)) / 4) !important;
  transition: 0.4s;
}

#wf-content.wf-navigation .wf-mall-in-mall :deep(.p-datatable-table tr th),
#wf-content.wf-navigation .wf-mall-in-mall :deep(.p-datatable-table tr td) {
  min-width: calc(calc(100vw - 62px - var(--width_sidebar)) / 4) !important;
  transition: 0.4s;
}

:deep(.p-datatable-wrapper) {
  margin-bottom: 0;
  margin-top: -16px;
}

.wf-mall {
  margin-bottom: 16px;
}
